<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<div class="container">
        <div class="list__block">
             <ul class="list">
                <li class="list__item"><a class="list__link" href="http://127.0.0.1:8000/students/" target="_blank">Данные о студентах</a></li>
                <li class="list__item"><a class="list__link" href="http://127.0.0.1:8000/lecturers/" target="_blank">Данные о лекторах</a></li>
                <li class="list__item"><a class="list__link" href="http://127.0.0.1:8000/groups/" target="_blank">Данные о группах</a></li>
                <li class="list__item"><a class="list__link" href="http://127.0.0.1:8000/admin/" target="_blank"> Админка </a></li>
             </ul>
        </div>
    </div>
</body>
</html>